{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if id  %}
              <h1>edit Post</h1>
            {% else %}
              <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    </div>

  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- This is where the form will go -->

         {{wtf.quick_form(form, button_map={'submit':'primary'})}}


      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}